<!DOCTYPE html>
	<html>
	<head>
        <title>store</title>
        {%load static%}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'store/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <img width= "70px" src="{% static 'store/images/ScreenSavers.png' %}" alt="logo.png"/><a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <!-- /*product.id = iphone product.id */  -->
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="product/iphone6">iPhone 6 </a></li>
                <li><a href="product/iphone6plus">iPhone6 Plus</a></li>
                <li><a href="product/iphone6s">iPhone 6s</a></li>
                <li><a href="product/iphone6splus">iPhone 6sPlus</a></li>
                <li><a href="product/iphone7">iPhone 7</a></li>
                <li><a href="product/iphone7plus">iPhone7 Plus</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            </div>
        </div>
        </nav>
        <div id="reg">
                <h3>Welcome {{ request.session.first_name }}</h3>
                <h2>Login</h2>
            <form action="/login" method="post">
                {% csrf_token %}
                <p>Email: <input type="text" name="email"></p>
                <p>Password: <input type="password" name="password"></p>
                <input type="submit" name="submit" value="Login">
            </form>
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h2>Registration</h2>
            <form action="/create" method="post">
                    {% csrf_token %}
                    <p>First Name: <input type="text" name="first_name"></p>
                    <p>Last Name: <input type="text" name="last_name"></p>
                    <p>Email: <input type="text" name="email"></p>
                    <p>Password: <input type="password" name="password"></p>
                    <p>Confirm password: <input type="password" name="confirm"></p>
                    <input type="submit" name="submit" value="Create">
            </form>
        </div>

    <div class="container">
    <img src="https://www.jailbreakmodo.com/wp-content/uploads/iphone_6_logo_apple-1.png" alt="Avatar" class="image">
    </div>
   

	<div class="container">
        <!----------- Footer ------------>
        <footer class="footer-bs">
            <div class="row">
                <div class="col-md-3 footer-brand animated fadeInLeft">
                    <h2>Logo</h2>
                    <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                </div>
                <div class="col-md-4 footer-nav animated fadeInUp">
                    <h4>Menu —</h4>
                    <div class="col-md-6">
                        <ul class="pages">
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Nature</a></li>
                            <li><a href="#">Explores</a></li>
                            <li><a href="#">Science</a></li>
                            <li><a href="#">Advice</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 footer-social animated fadeInDown">
                    <h4>Please Follow Us</h4>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Google+</a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>
       
	</body>
</html>